h1 {
    text-align: left;
    color: white;
    background-color: black;
    font-weight: bold;
    font-family: monospace;
}

span {
    color: aqua;
}

h2 {
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
}

h3 {
    text-align: right;
    color: darkmagenta;
    background-color: skyblue;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: lighter;
}