*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: rgb(90, 85, 85);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px
}

.nav_title{
    font-weight: bold;
    color: white;
    width: 50px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.nav_links{
    width: 40%;
    color: rgb(107, 105, 105);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav a{
    color: white;
    text-decoration: none;
}

.active{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.btn {
    background-color: skyblue;
    color: white;
    border: solid black;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 3px black; 
    padding: 0px 5px;
}